<header class="header">
    <div class="fullscreen-bg">
        <video loop muted autoplay class="fullscreen-bg__video">
            <source src="static/img/content/hud.mp4">
            <source src="static/img/content/hud.webm">
        </video>
    </div>
    <div class="fullscreen-video__image">
        <img src="static/img/content/fullscreen-mask.png" alt="">
    </div>
    <div class="header-vidio">
        <div class="header-left wrapper1">
            <div class="header-text">
            <a class="logo-image" href="#">
                <img src="static/img/content/logo.png" alt="">
            </a>
            <div class="title1">
            <h1>
                Зарабатывайте<br> 
                еще больше<br>
                на финансовых рынках
            </h1>
            </div>
            <div class="withN1">
                вместе с Аналитическим порталом #1 в России!
            </div>
            <div class="analitic">
                Аналитические материалы от экспертов и финансовых институтов по всем рынкам,<br>
                мнение и комментарии рядовых пользователей, авторские статьи, западная аналитика,<br>
                уникальные инструменты для оценки ситуации на рынке и многое другое для того,<br>
                чтобы Ваша работа была комфортной, а заработок превзошел все ожидания!
            </div>
            <div class="please-reg">
                Регистрируйся, и присоединяйся к команде Hamilton
            </div>
            <a class="btn" href="#regist">
                <div class="btn-text">
                    Зарегистрироваться
                </div>
            </a>
            </div>
        </div>
    </div>
</header>